body {
	margin: 0px;
	z-index: 1;
}
.heading-items {
	list-style-type: none;
	margin: auto;
	width: 60%;
}
.heading-items li {
	display: inline-block;
	background-color: black;
	color: white;
	padding: 0px 10px;
	font-size: 24px;
	margin: auto;
}
.heading-items li a {
	text-decoration: none;
	color: white;
	padding: 4px
}
.heading-items li a:hover {
	background-color: #B7BBB1;
}
.heading-items h1 {
	font-family: cursive;
	font-size: 30px;
	display: inline-block;
	background-color: black;
	color: white;
	margin: 0px;
	padding: 0px 10px;
	position: relative;
	right: 100px;

}
#heading {
	padding: 5px 0px;
	background-color: black;
	position: fixed;
	width: 100%;
	z-index: 2;
}
#image-content {
	background-image: url("C:/Users/Rohithsurya/Daksh/background.jpg");
	height: 800px;
	background-attachment: fixed;
}
#image-text {

}
#image-text h1 {
	margin: 0px;
	text-align: center;
	font-family: fantasy;
	font-size: 70px;
	font-weight: bold;
}
#image-text h2 {
	margin: 0px;
	text-align: center;
	font-style: italic;
	font-size: 35px;
}
#image-text {
	position: relative;
	top: 350px;
}
#heading-about-div {
	margin:  0px auto;
	width: 50%;
	height: 350px;
	font-size: 1.4em;
	padding-bottom: 6px;
}
#about-background {
	background-color: #f2f2f2;
	padding-top: 12px;
	margin-bottom: 0px;
}
.heading-about-inner {
	text-align: center;
}
#heading-about {
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 6px;
	font-family: "Pacifico";
}
#events {
	/*margin: auto;
	width: 50%;*/
}
.events-coding {
	border: 1px solid rgb(0,0,0);
	height: 200px;
	padding: 10px;
	margin: 30px auto;
	width: 450px;
	border-radius: 10px;
}

.events-coding h2 {
	text-align: center;
	margin: 15px;
	padding: 10px;
	color: black;
}
.events-coding p {
	text-align: center;
	margin: 0px;
	padding: 0px;
	color: black;
}
#heading-events {
	text-align: center;
}
#enclose-events {
	margin: auto;
	width: 900px;
}
a {
	text-decoration-color: none;
	text-decoration: none;
}